.negativeParam{
    margin: 0px;
    display: flex;
    width:200px;
    /* min-width: 25%;
    max-width: 25%; */
    height: 120px;    
    /* min-height: 25% !important;
    max-height: 25% !important; */
    overflow: hidden;       
   border: 1px solid grey;
   border-radius: 10px;
   background-color: #b0d9f693;
    align-items: center;
    padding: 5px;
    cursor:pointer;
    justify-content:space-between;
    color: black;
    
}
.negativeParam:hover .nagetiveFeedbacBadge{
    background-color: white;
    color: red;
    font-weight: 500;
 }
 .negativeParam:hover {
     outline: 2px solid red;
 }
 .negativeCountNparamArea{
     display: flex;
     flex-direction: column;
     gap: 5px;
 }
 .negativeMessage{
     overflow: hidden;
     font-size: 11px;
     font-weight: 600;
     text-align: center;
    
 }
 .nagetiveFeedbacBadge{
     border-radius: 5px;
     font-size: 11px;
    text-align: center;
     padding:3px;
     width: 80%;
     margin: auto;
     text-wrap:wrap;
     color: black;
     background-color: #e7e7e7;
 
 }